.margin-left-10px{
    margin-left: 10px;
}
.backgroundRed{
<<<<<<< HEAD
    background-color: rgb(220, 53, 69);
}
.backgroundGreen{
    background-color: rgb(25, 135, 84);
=======
    background-color: red;
}
.backgroundGreen{
    background-color: green;
>>>>>>> dcca1c258319598365fb92f807f900b0dec4a772
}
