.margin-left-10px{
    margin-left: 10px;
}
.margin-top-10px{
    margin-top: 10px;
}
.backgroundRed{
    background-color: rgb(220, 53, 69);
}
.backgroundGreen{
    background-color: rgb(25, 135, 84);
}
.width20px{
    width: 20px;
}
